.data-table {
	width:800px;
	margin: 20px auto;
	padding-top: 10px;
	border-width: 1em;
	/*border-bottom: solid thin;*/
	border-top:solid thin;
	border-collapse:collapse;
	border-spacing: 10px;
	border-color: lightgray;
}
.data-table1 {
	width:800px;
	margin: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom:15px;
	border-width: 1em;
	border-collapse:collapse;
	border-spacing: 10px;
}
.header-table {
	width:800px;
	margin: 20px auto;
	padding-top: 10px;
	padding-bottom:10px;
	border-width: 1em;
	border-collapse:collapse;
	border-spacing: 10px;
	border-bottom: solid thin;
	border-color: lightgray;
}
.header-table1 {
	width:800px;
	margin: 20px auto;
	padding-top: 10px;
	padding-bottom:10px;
	border-width: 1em;
	border-collapse:collapse;
	border-spacing: 10px;
}
.stats {
	width:300px;
	margin: 20px auto;
	padding-top: 10px;
	padding-bottom:10px;
	border-bottom: solid thin;
	border-top:solid thin;
	border-collapse:collapse;
	border-color: lightgray;
	display:inline-block;
}
.numbers {
	width:100px;
	text-align:center;
	font-size: 45px;
	font: bold;
	text-align: left;
}
.text {
	font-size:15px;
	color: lightgray;
	text-align: left;
}
.bar div{
	background-color:lightblue;
	padding-left:1000%;
	color:black;
	text-align:right;
}
.bar td {
	text-align:left;
}
.lightbox {
	height: 250px;
	width:500px;
	border:solid 1px black;
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	background-color:;
	margin: auto;
	/*position: fixed;*/
	top:25%;
	left:25%;
	background-color:white;
}
.button {
	height:15px;
	width:20px;
	border:solid;
	border-color:salmon;
	background-color:salmon;
	border-radius:10px;
	text-decoration:none;
	font-size:20px;
	padding-right:20px;
	padding-left:20px;
	padding-top:3px;
	padding-bottom:3px;
	text-align:center;
}
.image1{
	float:left;
	margin-right:10px;
}
.text2{
	overflow: hidden;
}
.image2{
	float:left;
	margin-right:10px;
}
.image3{
	float:left;
	margin-right:10px;
	margin-bottom:20px;
}